/*General*/
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #cdc4c4;
  font-family: sans-serif;
}
header {
  display: flex;
  width: 100%;
  background-color: rgb(94, 75, 75);
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

/*Barra de navegcion*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.snip1217 {
  display: flex;
  list-style: none;
  align-items: flex-end;
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.snip1217 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1217 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1.5em;
  padding: 0;
}
.snip1217 a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.snip1217 a:before,
.snip1217 a:after {
  height: 3px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #9b59b6;
  width: 0;
}
.snip1217 a:before {
  top: 0;
  left: 0;
}
.snip1217 a:after {
  bottom: 0;
  right: 0;
}
.snip1217 a:hover,
.snip1217 .current a {
  color: #ffffff;
}
.snip1217 a:hover:before,
.snip1217 .current a:before,
.snip1217 a:hover:after,
.snip1217 .current a:after {
  width: 100%;
}
.nav__logo {
  border-radius: 50%;
  height: 80%;
  margin: 40px;
}
.titulo__seccion {
  padding: 10px 10px;
  text-align: center;
}
/*
.nav__menu {
  display: flex;
  list-style: none;
  align-items: flex-end;
}
.nav__item {
  font-size: 18px;
}
.nav__item:hover {
  font-size: 30px;
}
.nav__link {
  text-decoration: none;
  color: white;
  padding: 10px 13px;
}
.nav__link:hover {
  border-radius: 10px;
  background-color: rgb(113, 61, 61);
  color: white;
}
.nav__logo {
  border-radius: 50%;
  height: 80%;
  margin: 40px;
}
*/

/*Footer*/
.footer {
  height: 200px;
  width: 100%;
  background-color: rgb(94, 75, 75);
}
.footer__titulo {
  padding: 30px 30px;
  text-align: center;
}
.footer__contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer_logo {
  height: 70px;
  width: 70px;
}
.footer_logo:hover {
  height: 100px;
  width: 100px;
}

/*CSS SECCIONES*/

/*Home*/
.contenido__home {
  width: 100%;
  background: url("../img/sectioncontenido.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.contenido__descripcion {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 400px;
  justify-content: center;
  align-items: center;
}
.contenido__descripcion p {
  text-align: center;
  font-size: 30px;
}
.contenido__descripcion button {
  background-color: rgb(94, 75, 75);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/*Seccion Profesional*/
.contenido__profesional {
  display: flex;
  align-content: space-between;
  align-items: center;
}
.contenido__profesional_img {
  padding: 40px 40px;
}
.contenido__profesional_desc {
  text-align: justify;
  padding: 10px;
}

/*Seccion Servicios*/
.contenido__sercicios {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
}
.servicios__card {
  width: 600px;
  height: 400px;
  display: flex;
  background-color: white;
  box-shadow: 0 5px 10px rgb(113, 61, 61);
  border-radius: 10px;
}
.servicios__card__img {
  width: 60%;
  height: 100%;
  background-size: cover;
}
.content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.title h3 {
  color: rgb(200, 127, 105);
}
.text p {
  color: black;
  font-size: 15px;
  text-align: justify;
  padding: 10px;
}
.btn-container button {
  background-color: rgb(200, 127, 105);
  padding: 10px 20px;
  color: antiquewhite;
  border-radius: 5px;
  outline: none;
  border: none;
}

/*Seccion Tratamientos*/
.container__tratamientos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
.tratamiento__descripcion {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.tratamiento__descripcion_revers {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.tratamiento_img {
  height: 500px;
  width: 500px;
}
.descripcion {
  justify-content: center;
  margin: 40px;
}

/*Seccion Productos*/
.contenedor__productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  margin-top: 10px;
  padding: 10px;
}
.producto__card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgb(94, 75, 75);
  width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.producto__card img{
  width: 300px;
  height: 300px;
}
.producto__descripcion p {
  text-align: justify;
  margin: 20px;
}
.producto__descripcion h2 {
  margin-top: 10px;
}

/*Contacto*/
.contenedor__contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
  justify-content: space-around;
}
.contenedor__form {
  border-radius: 5px;
  background-color: rgb(94, 75, 75);
  padding: 20px;
  height: 500px;
  width: 500px;
}
.maps {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(94, 75, 75);
  height: 540px;
  width: 540px;
}
.maps__titulo {
  text-align: center;
  margin-top: 0px;
  padding: 10px;
  color: white;
}

/*Formulario Contacto*/
.contenedor__form {
  height: 500px;
  width: 500px;
}
.form__input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.contenedor__form label {
  color: white;
}
.form__btn {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form__btn:hover {
  background-color: #45a049;
}
.form__input__comentario {
  width: 100%;
  padding: 50px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

/*Mediaa Query Vista Ipad BreakPoint 1*/
@media screen and (max-width: 768px) {
  
  /* General */
    header {
    flex-direction: column;
  }

  /*Seccion Poducto*/
  .contenedor__productos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  /*Seccion Contactos*/
  .contenedor__contacto {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  /*Seccion Profesional*/
  .contenido__profesional {
    flex-direction: column;
    align-items: center;
  }

  /*Seccion Servicios*/
  .contenido__sercicios {
    flex-direction: column;
    align-items: center;
  }
}
/*Mediaa Query Vista celular BreakPoint 2*/
@media screen and (max-width: 576px) {

  /*Barra de navegcion*/
  .snip1217 {
   flex-direction: column;
   align-items: center;
}
  /*Home*/
  .contenido__descripcion {
    justify-content: flex-start;
    width: 100%;
  }
  .contenido__descripcion p {
    font-size: 20px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
  }

  /*Seccion Poducto*/
  .contenedor__productos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
  }
  /*Seccion Contactos*/
  .contenedor__contacto {
    flex-direction: column;
    align-items: center;
  }
  .contenedor__form {
    width: 300px;
  }
  .maps {
    width: 340px;
  }

  /*Seccion Servicios*/
  .servicios__card {
    width: 400px;
    height: 400px;
  }
  .servicios__card__img {
    width: 60%;
    height: 100%;
  }

  /*Seccion Tratamientos*/
  .tratamiento__descripcion {
    flex-direction: column;
  }
  .tratamiento__descripcion_revers {
    flex-direction: column;
  }
  .tratamiento_img {
    height: 400px;
    width: 400px;
  }
}
