/*---------------------------NAVBAR----------------------------------- */
.navbar-img {
  width: 200px;
  border-radius: 50%;
}
.navbar-background {
  background-color: rgb(240, 229, 229);
}
.navbar-icono-spam {
  background-image: url(../img/logo_topnav.jpg);
  background-size: cover;
}
.navbar-ul-personalizado {
  justify-content: end;
}
.navbar-ul-item a {
  color: black;
}

.nav-seccion-size {
  size: 30px;
}

/*-----------------------------HOME------------------------------------*/
.home-logo {
  width: 80%;
  border-radius: 50%;
}

.home-body {
  background-image: url(../img/fondo/imagen-fondo-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.home-btn {
  background-color: rgb(155, 27, 27);
  color: white;
  font-size: 30px;
  text-decoration: none;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.home-btn:hover {
  color: white;
}

/*-------------------TITULO SECCIONES-----------------------------------*/
.titulo__seccion {
  padding: 10px 10px;
  text-align: center;
}

/*----------------------PROFESIONAL------------------------------------*/
.container-padre {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.col-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  box-sizing: border-box;
}

.col-descripcion {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 1.5rem;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  padding-left: 30px;
  justify-content: center;
  gap: 20px;
  text-align: justify;
}

/*----------------------SERVICIOS------------------------------------*/
.card-group-servicios {
  gap: 20px;
  margin-bottom: 20px;
}

/*---------------TRATAMIENTOS-----------------------------------*/
.row-carrusel {
  justify-content: center;
}

.col-carrusel {
  margin-bottom: 20px;
}

.img-carrusel {
  height: 500px;
}

/*----------------------PRODUCTOS------------------------------------*/
.row-productos {
  justify-content: center;
}

/*----------------------CONTACTOS------------------------------------*/
.fomrulario-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-contactos {
  align-items: center;
}

.fomrulario-principal {
  margin-bottom: 10px;
}

.container-contactos {
  margin-bottom: 10px;
}

/*------------------------BREAKPOINT--------------------------*/
@media (max-width: 991.98px) {
  /*--------------------SECCION PROFESIONAL---------------------*/
  .container-padre {
    flex-direction: column;
  }
  .profesional-fotoperfil {
    height: 350px;
    width: 350px;
  }
  .col-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }
  .profesional-descripcion1 {
    text-align: justify;
    font-size: 20px;
    padding-top: 10px;
    margin: 10px;
  }
  .profesional-descripcion2 {
    text-align: justify;
    font-size: 20px;
    padding-top: 10px;
    margin: 10px;
  }
  .footer p {
    display: none;
  }
}
@media (max-width: 767.98px) {
  /*--------------------SECCION PROFESIONAL---------------------*/
  .profesional-descripcion2 {
    display: none;
  }
}
@media (max-width: 575.98px) {
  /*--------------------SECCION PROFESIONAL---------------------*/
  .footer-figura {
    display: none;
  }
  .container-padre {
    flex-wrap: wrap;
  }
  .profesional-fotoperfil {
    height: 200px;
    width: 200px;
  }
  /*------------------CONTACTOS-------------------*/
  .row-contactos {
    gap: 25px;
    justify-content: center;
  }
}
/*MIXIN PARA BOTONES*/
/*BUTTON PRODUCTOS*/
.boton-secciones {
  background-color: rgb(240, 229, 229);
  color: black;
  border-radius: 5px;
  padding: 20px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.boton-secciones:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(177, 152, 152);
  color: black;
}

/*BUTTON CONTACTOS*/
.boton-contacto {
  background-color: rgb(240, 229, 229);
  color: black;
  border-radius: 5px;
  padding: 20px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.boton-contacto:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(177, 152, 152);
  color: black;
}

/*-------------------FOOTER-------------------------------------*/
.footer {
  background-color: rgb(240, 229, 229);
  position: relative;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.icon-link {
  color: black;
}
.icon-link:hover {
  color: white;
}

.wrapper {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
.wrapper .icon {
  position: relative;
  background: white;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 60px;
  height: 60px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: white;
  color: rgb(233, 39, 39);
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: white;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover .tooltip span, .wrapper .icon:hover .tooltip .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: white;
  font-size: 20px;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: white;
  font-size: 20px;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: white;
  font-size: 20px;
}

.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
  background: green;
  color: white;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
