$color-principal: rgb(240, 229, 229);
$color-btn: rgb(240, 229, 229);
$color-btn-hover: rgb(177, 152, 152);
$color-font-principal: black;
$color-icono-wap: green;
$color-icono-ig: #e4405f;
$color-icono-fb: #1877f2;
$color-icono-tw: #1da1f2;
$color-font-icono: white;
$color-background-icono: white;

$margin-pading: 10px;
