$color-principal: rgb(240, 229, 229);
$color-btn: rgb(240, 229, 229);
$color-btn-hover: rgb(177, 152, 152);
$color-font-principal: black;
$color-font-icono: rgb(233, 39, 39);
$color-background-icono: white;
$box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
0 17px 50px 0 rgba(0, 0, 0, 0.19);

$margin-pading: 10px;

/*MAPA CON LOS COLORES DE LOS ICONOS DE LAS REDES SOCIALES QUE USO EN EL FOOTER*/
$color-footer-redes:(
    whatsapp: green,
    instagram: #e4405f,
    facebook: #1877f2,
    twiter: #1da1f2,
    fontsize: 20px,
    fontcolor: white
);



  