/*MIXIN PARA BOTONES*/
@mixin btn($color-fondo, $color-texto) {
  background-color: $color-fondo;
  color: $color-texto;
  border-radius: 5px;
  padding: 20px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

/*BUTTON PRODUCTOS*/
.boton-secciones {
  @include btn($color-principal, $color-font-principal);

  &:hover {
    box-shadow: $box-shadow;
    background-color: $color-btn-hover;
    color: black;
  }
}
/*BUTTON CONTACTOS*/
.boton-contacto {
  @include btn($color-principal, $color-font-principal);
  &:hover {
    box-shadow: $box-shadow;
    background-color: $color-btn-hover;
    color: black;
  }
}
