/*-----------------------------HOME------------------------------------*/
.home-logo {
  width: 80%;
  border-radius: 50%;
}
.home-body {
  background-image: url(../img/fondo/imagen-fondo-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.home-btn {
  background-color: rgb(155, 27, 27);
  color: white;
  font-size: 30px;
  text-decoration: none;
  box-shadow: $box-shadow;
  cursor: pointer;

  &:hover {
    color: white;
  }
}
